.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 32px;
  border-top: 1px solid #e5e5ea;
}
.container432 {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
.container432 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.container432 > :global(.__wab_flex-container) > *,
.container432 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .container432 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container432 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container432 > :global(.__wab_flex-container) > *,
  .container432 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 64px;
  }
}
.box__z4Kuu {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.box__z4Kuu > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.box__z4Kuu > :global(.__wab_flex-container) > *,
.box__z4Kuu > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 8px;
}
.box__rr3Lz {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre;
  height: auto;
}
.box__iDlD0 {
  height: auto;
  width: 100%;
  white-space: pre-wrap;
  min-width: 0;
}
.textbox__mNzQx {
  line-height: 24px;
  position: relative;
  width: 100%;
  min-width: 0;
  border-radius: 6px;
  padding: 7px 11px;
  border: 1px solid #e5e5ea;
}
.button__tBwn2:global(.__wab_instance) {
  position: relative;
}
.svg__irShg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__cobNa {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__zM8E {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__d3D8L {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__v1By8 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__fhnCy {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.box__psSt {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.box__psSt > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.box__psSt > :global(.__wab_flex-container) > *,
.box__psSt > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 8px;
}
.box__oaiRp {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre;
  height: auto;
  padding-left: 12px;
  padding-right: 12px;
}
.box___2Sjfv {
  display: flex;
  position: relative;
  flex-direction: column;
}
.box___2Sjfv > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.box___2Sjfv > :global(.__wab_flex-container) > *,
.box___2Sjfv > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 4px;
}
.svg__gPeFl {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.svg__qgace {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__j6Rq0 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__dhJm8 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__vqdBy {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__spWlm {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__xzta:global(.__wab_instance) {
  position: relative;
}
.svg__t6WmY {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.svg__yH2 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__lxQuL {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__rVRey {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__qrmnH {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.box__joVs {
  height: auto;
}
.svg__rQbP5 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__iAlGa:global(.__wab_instance) {
  position: relative;
}
.svg__ywSHs {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.svg__ej0Wi {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__dV78A {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__kGw3E {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__wOIuH {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.box__liNfb {
  height: auto;
}
.svg__ao4Np {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.box__xPzCl {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.box__xPzCl > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.box__xPzCl > :global(.__wab_flex-container) > *,
.box__xPzCl > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 8px;
}
.box__fwOh {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre;
  height: auto;
  padding-left: 12px;
  padding-right: 12px;
}
.box___261Gu {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.box__qw4ZV {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.box__qw4ZV > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.box__qw4ZV > :global(.__wab_flex-container) > *,
.box__qw4ZV > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 4px;
}
.svg__iswwU {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__bbay3 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__uxIzO {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__hdGf5 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__xw1Nw {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__kqy04 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__ewY6O:global(.__wab_instance) {
  position: relative;
}
.svg___1LLo {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__wjZja {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__rhyJq {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__hEeVo {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__xCrti {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__k4Bic {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__kFiB:global(.__wab_instance) {
  position: relative;
}
.svg__i46Di {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__yZwbK {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__zOtWn {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__qO6H {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__mlEy {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___7NlEl {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button___9BiH0:global(.__wab_instance) {
  position: relative;
}
.svg___1Nln9 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__gfaPh {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__em96T {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__teau5 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__leb1L {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__rfguG {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.box__ctRjY {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.box__ctRjY > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.box__ctRjY > :global(.__wab_flex-container) > *,
.box__ctRjY > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 4px;
}
.button__d1Kjx:global(.__wab_instance) {
  position: relative;
}
.svg__xsqfs {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___18DjM {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__yeoul {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ykkJx {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__okgi3 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__rwaGo {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__sJp6I:global(.__wab_instance) {
  position: relative;
}
.svg__iGmz {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__aT51X {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__yPf8I {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__oww6H {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__zq37K {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___1Rwqe {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__zMIko:global(.__wab_instance) {
  position: relative;
}
.svg___8Fv8I {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__eiVts {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__j7Jb {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__vCvbO {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__iht7I {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__saghk {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.copyrightSocialLanguage:global(.__wab_instance) {
  position: relative;
}
.box__bUx2E {
  display: flex;
  position: relative;
  flex-direction: row;
}
.box__bUx2E > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.box__bUx2E > :global(.__wab_flex-container) > *,
.box__bUx2E > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 8px;
}
.box__e69Af {
  font-weight: 400;
  white-space: pre-wrap;
  color: #666666;
}
.box__jtAnF {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.svg__zohZj {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__xjeuc {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__tQcOc {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__eJwgR {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___3SS0 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__wggu6 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__gY:global(.__wab_instance) {
  position: relative;
}
.svg__yCvlp {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__vQiCy {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__afGrq {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__vXPd4 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___4VLcf {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___0DsZm {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__rwHeQ:global(.__wab_instance) {
  position: relative;
}
.svg__x25Zb {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ulH34 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__axe1G {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__b0M7F {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__etAbw {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___9MpF {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button___3ZKYc:global(.__wab_instance) {
  position: relative;
}
.svg__o8LQx {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___90WpH {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___5VsBx {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__k2ZRr {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___5Vm2W {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__pTfLl {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
