.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background: #1c1c1e;
}
.box__r59V5 {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
.box__r59V5 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.box__r59V5 > :global(.__wab_flex-container) > *,
.box__r59V5 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 32px;
}
.value___0VGbo:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.box__e1XsG {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  color: #ffffff;
  width: 100%;
  min-width: 0;
}
.box__wwJw3 {
  color: #cccccc;
  width: 100%;
  min-width: 0;
}
.svg___0CoV8 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffffff;
  min-width: 0;
  min-height: 0;
}
.button___07GPl:global(.__wab_instance) {
  position: relative;
}
.svg__qYaA9 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__r0DW {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__xviPi {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__j0Jdu {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__qA6Gt {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__u8VoE {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.value___7H8Ef:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.box__b7M1U {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  color: #ffffff;
  width: 100%;
  min-width: 0;
}
.box__lKRfj {
  color: #cccccc;
  width: 100%;
  min-width: 0;
}
.svg___7KkIm {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffffff;
  min-width: 0;
  min-height: 0;
}
.button__uGbt:global(.__wab_instance) {
  position: relative;
}
.svg___5JQiJ {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__xyCsA {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__wfpDl {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__zkme {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__bVcPj {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__mxAce {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.value___5NgUo:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.box__vMdDy {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  color: #ffffff;
  width: 100%;
  min-width: 0;
}
.box__skYc1 {
  color: #cccccc;
  width: 100%;
  min-width: 0;
}
.svg__gPdYl {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffffff;
  min-width: 0;
  min-height: 0;
}
.button__tSkOa:global(.__wab_instance) {
  position: relative;
}
.svg__yqHxV {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__wTyNq {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__n2Vf2 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ukPm {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__rRPyH {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___15LDw {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
